* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 35px auto 50px auto;
}

.container .info-block-item {
  width: calc(100% / 3);
  border-right: 2px solid #EEEFF2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  list-style: none;
  text-decoration: none;
}

.section-header {
  margin: 0 auto 60px;
  text-align: center;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 20px;
  color: #0B132A;
}

.section-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.section-subtitle span {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  height: 110px;
  background-color: #fff;
  -webkit-box-shadow: 2px 1px 90px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 1px 90px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.12);
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-inner .logo .logo-icon {
  width: auto;
}

.header-burger__nav {
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-item-link {
  padding: 0 15px;
  margin-right: 40px;
  color: #4F5665;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-item-link:last-child {
  margin-right: 0;
}

.nav-item-link:hover {
  text-decoration: underline;
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-in {
  margin-right: 30px;
  color: #0B132A;
  font-size: 16px;
  font-weight: 500;
}

.sign-up {
  background-color: #fff;
  text-align: center;
  width: 150px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #F53855;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 500;
  color: #F53855;
}

.sign-up:hover {
  background-color: #F53855;
  color: #fff;
}

.first-section-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

.first-section-info {
  padding: 50px 0;
  min-width: inherit;
  max-width: 555px;
}

.first-section-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
}

.first-section-title span {
  font-weight: 700;
}

.first-section-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.first-section-text span {
  font-weight: 500;
}

.first-section-btn {
  display: inline-block;
  height: 60px;
  padding: 17px 77px;
  margin-top: 40px;
  margin-bottom: 40px;
  background: #F53838;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 30px rgba(245, 56, 56, 0.35);
          box-shadow: 0 14px 30px rgba(245, 56, 56, 0.35);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.first-section-btn:hover {
  -webkit-box-shadow: 0 20px 40px rgba(11, 19, 42, 0.35);
          box-shadow: 0 20px 40px rgba(11, 19, 42, 0.35);
  background-color: #0b132a;
}

.first-section-img {
  padding: 50px 0;
}

.first-section-img img {
  width: 100%;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-block .container {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  padding: 30px 0;
  -webkit-box-shadow: 10px 34px 28px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 10px 34px 28px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.12);
}

.info-block .info-block-item:last-child {
  border-right: 0;
}

.info-block .info-block-icon {
  width: 55px;
}

.info-block-text {
  margin-left: 25px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}

.info-block-text .heading-title {
  font-weight: bold;
  color: #000;
}

.info-block-text span {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}

.second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 0 50px 0;
}

.second-section .second-section-features {
  margin-left: 150px;
}

.second-section-img {
  width: 100%;
}

.second-section-features .features-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  margin: 0;
  padding: 0;
}

.features-list li::before {
  content: url(../img/check2.svg);
  position: relative;
  z-index: 1;
  top: 5px;
  margin-right: 12px;
}

.titles-conteiner {
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
}

.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
  background-color: #fbfbfb;
}

.plans-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 760px;
  width: 330px;
  margin: 0 0 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #dddddd;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #ffffff;
}

.plan:hover {
  border: 2px solid #F53838;
  border-radius: 10px;
}

.plan .plan-image {
  margin-top: 80px;
  margin-bottom: 30px;
}

.plan .plan-image img {
  width: 100%;
}

.plan-features li {
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #4F5665;
}

.plan-features li::before {
  content: url(../img/check.svg);
  margin-right: 25px;
}

.plan-bottom {
  text-align: center;
  margin-top: auto;
  margin-bottom: 50px;
}

.plan-price {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
  color: #0B132A;
}

.plan-price span {
  font-weight: 400;
  color: #4f5665;
}

.select-btn {
  display: inline-block;
  background-color: #fff;
  text-align: center;
  width: 178px;
  height: 45px;
  line-height: 45px;
  border: 2px solid #F53838;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 16px;
  font-weight: 700;
  color: #F53838;
}

.select-btn:hover {
  background-color: #F53838;
  color: #fff;
}

.locations {
  max-width: 1140px;
  margin: 50px auto;
}

.locations .section-header .section-title {
  max-width: 383px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.locations .section-header .section-subtitle {
  line-height: 30px;
  margin-bottom: 155px;
}

.locations .locations-map-wrapper img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.sponsored ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sponsored img {
  width: 100%;
}

.user-comments .section-header {
  display: block;
}

.user-comments .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-comments + .container {
  position: relative;
}

.user-comments .section-title {
  display: inline-block;
  max-width: 450px;
}

.user-comments .controls {
  margin-bottom: 200px;
}

.user-comments .controls .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-comments .controls .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-comments .controls .dots .dot {
  height: 15px;
  width: 15px;
  background-color: #ddd;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.user-comments .controls .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-comments .controls .arrows .arrow-left {
  margin-right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #f53838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.user-comments .controls .arrows .arrow-right {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #f53838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #f53838;
}

.comment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-item {
  height: 230px;
  min-width: 320px;
  max-width: auto;
  margin-right: 20px;
  border-radius: 10px;
  border: 2px solid #dddddd;
  padding: 24px;
  height: 250px;
  line-height: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.comment-item:hover {
  border-radius: 10px;
  border: 2px solid #F53838;
}

.comment-item img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.comment-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.comment-top .uset-name {
  font-size: 18px;
  font-weight: 500;
  color: #0b132a;
}

.comment-top .uset-location {
  font-size: 18px;
  color: #4f5665;
}

.comment-top .user-rating {
  color: #0b132a;
  margin-left: auto;
}

.comment-top .user-rating::after {
  content: url(../img/star.svg);
  margin-left: 11px;
}

.comment-body {
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0B132A;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -118px;
  max-width: 1140px;
  height: 235px;
  margin: 0 auto;
  padding: 60px 70px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 39px 114px rgba(0, 0, 0, 0.06);
          box-shadow: 0 39px 114px rgba(0, 0, 0, 0.06);
}

.subscribe-left {
  max-width: 370px;
}

.btn-bottom {
  display: block;
  height: 60px;
  max-width: 250px;
  padding: 10px 60px;
  background: #F53838;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 30px rgba(245, 56, 56, 0.35);
          box-shadow: 0 14px 30px rgba(245, 56, 56, 0.35);
  font-weight: 500;
  font-size: 17px;
  line-height: 40px;
  color: #FFFFFF;
}

.footer {
  background-color: #f8f8f8;
  padding-top: 190px;
  padding-bottom: 50px;
  width: 100%;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer .social-icon {
  margin: 40px 40px 25px 15px;
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
}

.footer ul li a {
  font-size: 16px;
  line-height: 45px;
  color: #4F5665;
}

.for-subtitle {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 340px;
}

.logo-name span {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0B132A;
}

.vpn2020 {
  font-size: 16px;
  line-height: 30px;
  color: #AFB5C0;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-colmn {
  width: auto;
  margin-left: 120px;
}

.menu-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 45px;
  color: #0B132A;
}